@model List<BartenderApp.Models.Drink>
@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>


<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Alcohol Percentage</th>
        <th>Order Now</th>
    </tr>
    
    @foreach (var drink in Model)
    {
        <tr>
            <td>@drink.Name</td>
            <td>@drink.Description</td>
            <td>$@drink.Price</td>
            <td>@drink.AlcoholPercentage %</td>
            <td>
                @Html.ActionLink("Buy Drink", "AddOrderDrink", "OrderPrepared", drink, new {@class = "btn btn-primary"})
            </td>

        </tr>


    }
</table>

<br />


<h3>@Html.ActionLink("Go To Ordered Drinks", "Order", "OrderPrepared")</h3>

