@model List<BartenderApp.Models.Drink>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drinks That Need To Be Made</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Alcohol Percentage</th>
        <th>Order Complete</th>
    </tr>

    @foreach (var drink in Model)
    {
        <tr>
            <td>@drink.Name</td>
            <td>@drink.Description</td>
            <td>$@drink.Price</td>
            <td>@drink.AlcoholPercentage %</td>
            <td>
                @Html.ActionLink("Drink Was Made", "AddPreparedDrink", "OrderPrepared", drink, new { @class = "btn btn-primary" })
            </td>
        </tr>


    }
</table>

<br />
<h3>@Html.ActionLink("Go To Drinks Ready For Pickup", "Prepared", "OrderPrepared")</h3>
